<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Day15</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FirstAJAXServlet</display-name>
    <servlet-name>FirstAJAXServlet</servlet-name>
    <servlet-class>com.coppco.ajax.FirstAJAXServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstAJAXServlet</servlet-name>
    <url-pattern>/firstAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetServlet</display-name>
    <servlet-name>GetServlet</servlet-name>
    <servlet-class>com.coppco.ajax.GetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetServlet</servlet-name>
    <url-pattern>/getServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostServlet</display-name>
    <servlet-name>PostServlet</servlet-name>
    <servlet-class>com.coppco.ajax.PostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostServlet</servlet-name>
    <url-pattern>/postServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckUsernameForAJAXServlet</display-name>
    <servlet-name>CheckUsernameForAJAXServlet</servlet-name>
    <servlet-class>com.coppco.web.servlet.CheckUsernameForAJAXServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUsernameForAJAXServlet</servlet-name>
    <url-pattern>/checkUsername</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JqueryAjax</display-name>
    <servlet-name>JqueryAjax</servlet-name>
    <servlet-class>com.coppco.jquery.servlet.JqueryAjax</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JqueryAjax</servlet-name>
    <url-pattern>/jqueryAjax</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectProServlet</display-name>
    <servlet-name>SelectProServlet</servlet-name>
    <servlet-class>com.coppco.city.SelectProServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectProServlet</servlet-name>
    <url-pattern>/selectPro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectCityByProvinceidServlet</display-name>
    <servlet-name>SelectCityByProvinceidServlet</servlet-name>
    <servlet-class>com.coppco.city.SelectCityByProvinceidServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectCityByProvinceidServlet</servlet-name>
    <url-pattern>/selectCityByProvinceid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelloFilterServlet</display-name>
    <servlet-name>HelloFilterServlet</servlet-name>
    <servlet-class>com.coppco.filter.HelloFilterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloFilterServlet</servlet-name>
    <url-pattern>/helloFilter</url-pattern>
  </servlet-mapping>
  <filter>
  	<filter-name>helloFilter</filter-name>
  	<filter-class>com.coppco.filter.HelloFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>helloFilter</filter-name>
  	<url-pattern>/helloFilter</url-pattern>
  </filter-mapping>
</web-app>